.box{
    width: 1200px;
    height: 382px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
#head{
    height: 25px;
    background: rgb(189, 184, 184);
}
#head>div{
    width: 1000px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#head>div>p{
    font-size: 12px;
    color: red;
    line-height: 0px;
    position: relative;
    left: 800px;
}
#head>img{
    float: left;
    position: relative;
    left: 240px;
    top: 5px;
}
.slider{
    width: 8400px;
    position: absolute;
    left: -1200px;
}
.slide{
    width: 1200px;
    overflow: hidden;
    float: left;
}
.box>span{
    display: block;
    width: 30px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    top: 175px;
    line-height: 50px;
    background: rgb(255, 0, 0);
    font-size: 30px;
    color: blanchedalmond;
    position: absolute;
    opacity: 0;
}
#left{
    left: 30px;
}
#right{
    right: 30px;
}
.nav{
    position: absolute;
    left: 460px;
    bottom: 0px;
    margin-bottom: 5px;
}
.nav>li{
    float: left;
    width: 20px;
    height: 20px;
    background: #ccc;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    list-style: none;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
}
.nav .active{
    background: rgb(255, 0, 0);
    color: white;
}